In [1]:
import nltk

In [2]:
nltk.download("movie_reviews")

[nltk_data] Downloading package movie_reviews to
[nltk_data]     C:\Users\User\AppData\Roaming\nltk_data...
[nltk_data]   Package movie_reviews is already up-to-date!

True

In [3]:
import os
examples = []
for sentiment in ("neg", "pos"):
    for filename in os.listdir(os.path.join(nltk.corpus.movie_reviews.root.path, sentiment)):
        with open(os.path.join(nltk.corpus.movie_reviews.root.path, sentiment, filename), "r", encoding="utf-8") as file:
            text = file.read().strip()
            examples.append({"text": text, "sentiment": int(sentiment=="pos")})

In [4]:
import pandas as pd
examples_df = pd.DataFrame(examples)
examples_df

                                                   text  sentiment
0     plot : two teen couples go to a church party ,...          0
1     the happy bastard's quick movie review \ndamn ...          0
2     it is movies like these that make a jaded movi...          0
3     " quest for camelot " is warner bros . ' first...          0
4     synopsis : a mentally unstable man undergoing ...          0
...                                                 ...        ...
1995  wow ! what a movie . \nit's everything a movie...          1
1996  richard gere can be a commanding actor , but h...          1
1997  glory--starring matthew broderick , denzel was...          1
1998  steven spielberg's second epic film on world w...          1
1999  truman ( " true-man " ) burbank is the perfect...          1

[2000 rows x 2 columns]

In [5]:
examples_df = examples_df.sample(frac=1)
train_df = examples_df.sample(frac=0.7)
test_df = examples_df.drop(index=train_df.index) 
train_texts, train_labels = train_df.text.values, train_df.sentiment.values
test_texts, test_labels = test_df.text.values, test_df.sentiment.values

**train data**

In [6]:
train_df

                                                   text  sentiment
895   2 days in the valley is more or less a pulp fi...          0
1505  some critics , including siskel & ebert , are ...          1
1614  mickey mouse had better watch his back -- ther...          1
1612  in the wake of the smashing success of " rumbl...          1
1984  now that " boogie nights " has made disco resp...          1
...                                                 ...        ...
807   and i thought " stigmata " would be the worst ...          0
439   you know the plot : a dimwit with a shady past...          0
962   humanities quest for knowledge never ends . \n...          0
1066  ingredients : starving artist lusting after a ...          1
1563  in the opening shot of midnight cowboy , we se...          1

[1400 rows x 2 columns]

**test data**

In [7]:
test_df

                                                   text  sentiment
721   tim burton has now completed his evolution fro...          0
663   what hath kevin williamson wrought ? \nwhile t...          0
757   one night , during a torrential downpour that ...          0
1509  as i write the review for the new hanks/ryan r...          1
506   this film is extraordinarily horrendous and i'...          0
...                                                 ...        ...
626   " tina ! ! ! fetch me the axe ! ! ! " \na favo...          0
1141  " very bad things , " is the most delightfully...          1
1418  capsule : the world will come to an end at mid...          1
947   what were they thinking ? \nnostalgia for the ...          0
1921  originally titled 'don't lose your head' , thi...          1

[600 rows x 2 columns]

In [8]:
from gensim import corpora
import gensim.downloader as api
from gensim.utils import simple_preprocess
from gensim.models.word2vec import Word2Vec
from gensim.models.doc2vec import TaggedDocument, Doc2Vec

**corpora**

In [9]:
corpus = pd.DataFrame(examples_df.text.values)
corpus

                                                      0
0     capsule : lesbianism examined in the same hush...
1     warning ! : may contain some mild spoilers and...
2     tim burton has now completed his evolution fro...
3     what hath kevin williamson wrought ? \nwhile t...
4     one night , during a torrential downpour that ...
...                                                 ...
1995  what were they thinking ? \nnostalgia for the ...
1996  `the skulls' is a laughably bad thriller , a t...
1997  a couple of criminals ( mario van peebles and ...
1998  the rich man's wife is one of those movies lik...
1999  originally titled 'don't lose your head' , thi...

[2000 rows x 1 columns]

In [10]:
corpus_list = list(corpus[0])

**dictionary** + preprocessing

In [11]:
# Tokenize the docs
tokenized_list = [simple_preprocess(doc) for doc in corpus_list]

# Create the Corpus
dictionary = corpora.Dictionary()

#allow_update=True - add new words to dictionary
bow_corpus = [dictionary.doc2bow(doc, allow_update=True) for doc in tokenized_list]
###print(bow_corpus)

len(dictionary.token2id), dictionary.token2id

(38864,
 {'about': 0,
  'absorbing': 1,
  'adult': 2,
  'after': 3,
  'aids': 4,
  'all': 5,
  'almost': 6,
  'also': 7,
  'always': 8,
  'amazing': 9,
  'an': 10,
  'and': 11,
  'another': 12,
  'any': 13,
  'anyone': 14,
  'are': 15,
  'artistically': 16,
  'as': 17,
  'at': 18,
  'authority': 19,
  'be': 20,
  'beat': 21,
  'because': 22,
  'been': 23,
  'behavior': 24,
  'being': 25,
  'benefit': 26,
  'better': 27,
  'bloom': 28,
  'boring': 29,
  'both': 30,
  'brashness': 31,
  'break': 32,
  'but': 33,
  'by': 34,
  'cabin': 35,
  'calls': 36,
  'camp': 37,
  'can': 38,
  'capsule': 39,
  'chaired': 40,
  'changed': 41,
  'claire': 42,
  'clerk': 43,
  'come': 44,
  'comedy': 45,
  'complete': 46,
  'course': 47,
  'creative': 48,
  'dead': 49,
  'deals': 50,
  'degenerates': 51,
  'delivered': 52,
  'desert': 53,
  'didn': 54,
  'dmv': 55,
  'do': 56,
  'docudrama': 57,
  'earlier': 58,
  'earnest': 59,
  'ends': 60,
  'energy': 61,
  'engaging': 62,
  'entire': 63,
  'even': 64,
  'evening': 65,
  'examination': 66,
  'examined': 67,
  'example': 68,
  'felt': 69,
  'for': 70,
  'get': 71,
  'glances': 72,
  'glue': 73,
  'going': 74,
  'good': 75,
  'handled': 76,
  'happen': 77,
  'happened': 78,
  'has': 79,
  'have': 80,
  'heads': 81,
  'hint': 82,
  'hit': 83,
  'horse': 84,
  'hour': 85,
  'how': 86,
  'hundred': 87,
  'hushed': 88,
  'ice': 89,
  'idea': 90,
  'illness': 91,
  'impossibly': 92,
  'in': 93,
  'inevitability': 94,
  'ing': 95,
  'insufferable': 96,
  'intellectually': 97,
  'intelligent': 98,
  'interesting': 99,
  'into': 100,
  'is': 101,
  'it': 102,
  'its': 103,
  'john': 104,
  'just': 105,
  'kick': 106,
  'leaden': 107,
  'leads': 108,
  'least': 109,
  'lesbian': 110,
  'lesbianism': 111,
  'lianna': 112,
  'life': 113,
  'light': 114,
  'like': 115,
  'little': 116,
  'look': 117,
  'looks': 118,
  'lots': 119,
  'made': 120,
  'maggie': 121,
  'many': 122,
  'means': 123,
  'microscopic': 124,
  'might': 125,
  'minutes': 126,
  'moon': 127,
  'more': 128,
  'most': 129,
  'motherly': 130,
  'movie': 131,
  'movies': 132,
  'much': 133,
  'my': 134,
  'named': 135,
  'need': 136,
  'needed': 137,
  'never': 138,
  'noel': 139,
  'not': 140,
  'obviously': 141,
  'obviousness': 142,
  'of': 143,
  'on': 144,
  'one': 145,
  'only': 146,
  'or': 147,
  'other': 148,
  'out': 149,
  'over': 150,
  'overheated': 151,
  'owns': 152,
  'pants': 153,
  'people': 154,
  'perfect': 155,
  'plenty': 156,
  'plot': 157,
  'porn': 158,
  'potentially': 159,
  'problem': 160,
  'producing': 161,
  'professed': 162,
  'quickly': 163,
  'reflection': 164,
  'reflectively': 165,
  'reserved': 166,
  'retreat': 167,
  'reverential': 168,
  'same': 169,
  'sand': 170,
  'sayles': 171,
  'scene': 172,
  'scenes': 173,
  'scholarly': 174,
  'seen': 175,
  'self': 176,
  'serious': 177,
  'sets': 178,
  'sex': 179,
  'sexual': 180,
  'she': 181,
  'should': 182,
  'significance': 183,
  'sneeze': 184,
  'so': 185,
  'sober': 186,
  'sockful': 187,
  'someone': 188,
  'speech': 189,
  'spontenaity': 190,
  'stagy': 191,
  'strained': 192,
  'subject': 193,
  'such': 194,
  'swift': 195,
  'takes': 196,
  'talk': 197,
  'talks': 198,
  'terminal': 199,
  'than': 200,
  'that': 201,
  'the': 202,
  'their': 203,
  'them': 204,
  'then': 205,
  'they': 206,
  'thick': 207,
  'thing': 208,
  'things': 209,
  'this': 210,
  'thoughtful': 211,
  'thousand': 212,
  'through': 213,
  'throws': 214,
  'times': 215,
  'to': 216,
  'together': 217,
  'tones': 218,
  'twelve': 219,
  'two': 220,
  'type': 221,
  'ugh': 222,
  'unwatchably': 223,
  'up': 224,
  'used': 225,
  'vibrancy': 226,
  'waiting': 227,
  'was': 228,
  'watching': 229,
  'water': 230,
  'way': 231,
  'ways': 232,
  'we': 233,
  'well': 234,
  'wet': 235,
  'what': 236,
  'when': 237,
  'where': 238,
  'while': 239,
  'why': 240,
  'wife': 241,
  'winds': 242,
  'wit': 243,
  'with': 244,
  'without': 245,
  'women': 246,
  'word': 247,
  'would': 248,
  'wrights': 249,
  'writer': 250,
  'writers': 251,
  'written': 252,
  'yet': 253,
  'above': 254,
  'abundence': 255,
  'accidentally': 256,
  'acting': 257,
  'actually': 258,
  'again': 259,
  'amy': 260,
  'arija': 261,
  'average': 262,
  'back': 263,
  'bad': 264,
  'bareikis': 265,
  'become': 266,
  'behind': 267,
  'big': 268,
  'bigalow': 269,
  'body': 270,
  'breezy': 271,
  'bucks': 272,
  'burns': 273,
  'cabinets': 274,
  'call': 275,
  'cannot': 276,
  'care': 277,
  'chair': 278,
  'characters': 279,
  'charges': 280,
  'cinematic': 281,
  'classic': 282,
  'clean': 283,
  'cleans': 284,
  'clever': 285,
  'comedies': 286,
  'considered': 287,
  'contain': 288,
  'content': 289,
  'credits': 290,
  'crude': 291,
  'cult': 292,
  'customers': 293,
  'cute': 294,
  'decidedly': 295,
  'decides': 296,
  'deny': 297,
  'destined': 298,
  'deuce': 299,
  'develops': 300,
  'directing': 301,
  'disappointed': 302,
  'disappointment': 303,
  'dollars': 304,
  'don': 305,
  'down': 306,
  'dumb': 307,
  'earth': 308,
  'eat': 309,
  'eddie': 310,
  'either': 311,
  'end': 312,
  'endearing': 313,
  'enjoy': 314,
  'enough': 315,
  'entertained': 316,
  'entertaining': 317,
  'especially': 318,
  'everything': 319,
  'explicit': 320,
  'extensive': 321,
  'fans': 322,
  'fantastic': 323,
  'fast': 324,
  'feel': 325,
  'fehr': 326,
  'fell': 327,
  'film': 328,
  'find': 329,
  'fish': 330,
  'fishtank': 331,
  'follows': 332,
  'from': 333,
  'funniest': 334,
  'funny': 335,
  'garnered': 336,
  'gets': 337,
  'gigolo': 338,
  'gives': 339,
  'go': 340,
  'goes': 341,
  'goldberg': 342,
  'griffin': 343,
  'guy': 344,
  'hangs': 345,
  'hard': 346,
  'harris': 347,
  'he': 348,
  'heart': 349,
  'her': 350,
  'hilarious': 351,
  'hilariously': 352,
  'him': 353,
  'himself': 354,
  'his': 355,
  'humor': 356,
  'if': 357,
  'involved': 358,
  'involving': 359,
  'isn': 360,
  'jabba': 361,
  'job': 362,
  'kate': 363,
  'keeps': 364,
  'killing': 365,
  'kind': 366,
  'lady': 367,
  'last': 368,
  'laugh': 369,
  'laughing': 370,
  'laughs': 371,
  'likable': 372,
  'living': 373,
  'loser': 374,
  'love': 375,
  'luck': 376,
  'make': 377,
  'male': 378,
  'malkovich': 379,
  'man': 380,
  'mary': 381,
  'masterpiece': 382,
  'material': 383,
  'may': 384,
  'mcdonald': 385,
  'me': 386,
  'merit': 387,
  'mike': 388,
  'mild': 389,
  'mitchell': 390,
  'narcolepsy': 391,
  'natured': 392,
  'needs': 393,
  'negotiate': 394,
  'nice': 395,
  'no': 396,
  'non': 397,
  'norm': 398,
  'now': 399,
  'nudity': 400,
  'oddest': 401,
  'oded': 402,
  'off': 403,
  'offend': 404,
  'offensive': 405,
  'offered': 406,
  'outbursts': 407,
  'pace': 408,
  'paced': 409,
  'performance': 410,
  'performances': 411,
  'place': 412,
  'poehler': 413,
  'pole': 414,
  'pushes': 415,
  'put': 416,
  'quite': 417,
  'rated': 418,
  'rating': 419,
  'really': 420,
  'reason': 421,
  'right': 422,
  'rob': 423,
  'romance': 424,
  'running': 425,
  'schneider': 426,
  'screaming': 427,
  'screenplay': 428,
  'see': 429,
  'seems': 430,
  'shows': 431,
  'simply': 432,
  'sit': 433,
  'site': 434,
  'sleeps': 435,
  'smart': 436,
  'soft': 437,
  'some': 438,
  'something': 439,
  'sometimes': 440,
  'spoilers': 441,
  'starring': 442,
  'stomach': 443,
  'stop': 444,
  'story': 445,
  'sudden': 446,
  'sure': 447,
  'surprisingly': 448,
  'sweet': 449,
  'tank': 450,
  'tanks': 451,
  'themselves': 452,
  'there': 453,
  'thinking': 454,
  'those': 455,
  'though': 456,
  'thought': 457,
  'three': 458,
  'time': 459,
  'too': 460,
  'took': 461,
  'toy': 462,
  'trip': 463,
  'try': 464,
  'trying': 465,
  'typically': 466,
  'under': 467,
  'underneath': 468,
  'until': 469,
  'upside': 470,
  'us': 471,
  'use': 472,
  'very': 473,
  'wants': 474,
  'warning': 475,
  'watch': 476,
  'weeks': 477,
  'weight': 478,
  'were': 479,
  'which': 480,
  'who': 481,
  'whole': 482,
  'whoring': 483,
  'will': 484,
  'willing': 485,
  'witty': 486,
  'woman': 487,
  'wondering': 488,
  'words': 489,
  'worth': 490,
  'year': 491,
  'years': 492,
  'you': 493,
  'your': 494,
  'absent': 495,
  'acceptance': 496,
  'across': 497,
  'action': 498,
  'adventure': 499,
  'air': 500,
  'along': 501,
  'altered': 502,
  'amazon': 503,
  'america': 504,
  'amounts': 505,
  'anti': 506,
  'ape': 507,
  'apes': 508,
  'arguments': 509,
  'ari': 510,
  'around': 511,
  'backlot': 512,
  'badham': 513,
  'baker': 514,
  'ball': 515,
  'band': 516,
  'battle': 517,
  'battlefield': 518,
  'best': 519,
  'between': 520,
  'billboard': 521,
  'bonham': 522,
  'boogie': 523,
  'bottom': 524,
  'boulle': 525,
  'braveheart': 526,
  'brilliant': 527,
  'buildup': 528,
  'burton': 529,
  'cameo': 530,
  'captured': 531,
  'career': 532,
  'carry': 533,
  'carter': 534,
  'century': 535,
  'checking': 536,
  'chimp': 537,
  'chimpanzee': 538,
  'chimps': 539,
  'chuck': 540,
  'clarke': 541,
  'co': 542,
  'collect': 543,
  'combined': 544,
  'communication': 545,
  'completed': 546,
  'completely': 547,
  'corrupter': 548,
  'could': 549,
  'courtesy': 550,
  'crap': 551,
  'crashes': 552,
  'crew': 553,
  'cross': 554,
  'culminates': 555,
  'damn': 556,
  'data': 557,
  'davidson': 558,
  'de': 559,
  'dialogue': 560,
  'directed': 561,
  'director': 562,
  'dirty': 563,
  'does': 564,
  'duncan': 565,
  'ed': 566,
  'edward': 567,
  'element': 568,
  'ending': 569,
  'enemy': 570,
  'enhances': 571,
  'enjoyable': 572,
  'equality': 573,
  'escape': 574,
  'ethical': 575,
  'every': 576,
  'evolution': 577,
  'expect': 578,
  'explanation': 579,
  'fame': 580,
  'fan': 581,
  'fascism': 582,
  'feels': 583,
  'fellow': 584,
  'first': 585,
  'force': 586,
  'fox': 587,
  'further': 588,
  'general': 589,
  'genetically': 590,
  'getting': 591,
  'giamatti': 592,
  'girlfriend': 593,
  'given': 594,
  'great': 595,
  'group': 596,
  'growling': 597,
  'gun': 598,
  'hammer': 599,
  'heavy': 600,
  'helena': 601,
  'helps': 602,
  'here': 603,
  'heston': 604,
  'hits': 605,
  'hodgepodge': 606,
  'hops': 607,
  'horrible': 608,
  'hot': 609,
  'human': 610,
  'humans': 611,
  'hunt': 612,
  'impact': 613,
  'individuals': 614,
  'insult': 615,
  'intelligence': 616,
  'intelligently': 617,
  'interpretation': 618,
  'isolation': 619,
  'joel': 620,
  'jokey': 621,
  'jungle': 622,
  'lands': 623,
  'latest': 624,
  'leo': 625,
  'limbo': 626,
  'lose': 627,
  'macabre': 628,
  'magnetic': 629,
  'main': 630,
  'makeup': 631,
  'mark': 632,
  'marketing': 633,
  'marky': 634,
  'materials': 635,
  'mean': 636,
  'mental': 637,
  'michael': 638,
  'military': 639,
  'mine': 640,
  'missing': 641,
  'mocked': 642,
  'monkey': 643,
  'monkeys': 644,
  'mountains': 645,
  'multi': 646,
  'mysterious': 647,
  'name': 648,
  'narrative': 649,
  'nights': 650,
  'nod': 651,
  'novel': 652,
  'original': 653,
  'outcast': 654,
  'overacting': 655,
  'overbearing': 656,
  'part': 657,
  'pathetic': 658,
  'paul': 659,
  'pee': 660,
  'peen': 661,
  'physical': 662,
  'pierre': 663,
  'pilot': 664,
  'planet': 665,
  'plastered': 666,
  'played': 667,
  'playing': 668,
  'plays': 669,
  'predominant': 670,
  'presence': 671,
  'probably': 672,
  'proclaimed': 673,
  'project': 674,
  're': 675,
  'real': 676,
  'rejection': 677,
  'remake': 678,
  'replaced': 679,
  'rick': 680,
  'ridiculous': 681,
  'rigeur': 682,
  'rip': 683,
  'rock': 684,
  'rod': 685,
  'role': 686,
  'roles': 687,
  'roth': 688,
  'sadly': 689,
  'sat': 690,
  'savages': 691,
  'schumacher': 692,
  'scissorshands': 693,
  'script': 694,
  'scripted': 695,
  'search': 696,
  'sells': 697,
  'sends': 698,
  'sequences': 699,
  'serling': 700,
  'shallow': 701,
  'ship': 702,
  'shot': 703,
  'slave': 704,
  'sold': 705,
  'space': 706,
  'species': 707,
  'started': 708,
  'stories': 709,
  'storms': 710,
  'strive': 711,
  'structure': 712,
  'studio': 713,
  'sucked': 714,
  'suppose': 715,
  'surprise': 716,
  'swing': 717,
  'talking': 718,
  'temple': 719,
  'thade': 720,
  'themes': 721,
  'thrown': 722,
  'tiered': 723,
  'tim': 724,
  'tirade': 725,
  'top': 726,
  'trader': 727,
  'tremendous': 728,
  'turn': 729,
  'twentieth': 730,
  'twilight': 731,
  'unimaginative': 732,
  'universe': 733,
  'version': 734,
  'versus': 735,
  'vicious': 736,
  'wahlberg': 737,
  'wee': 738,
  'whose': 739,
  'within': 740,
  'wood': 741,
  'work': 742,
  'wormhole': 743,
  'yearning': 744,
  'yelling': 745,
  'zone': 746,
  'add': 747,
  'afer': 748,
  'alicia': 749,
  'alive': 750,
  'among': 751,
  'aptly': 752,
  'areas': 753,
  'attempts': 754,
  'axe': 755,
  'backseat': 756,
  'banks': 757,
  'bears': 758,
  'bits': 759,
  'bland': 760,
  'blanks': 761,
  'bombastic': 762,
  'borrow': 763,
  'campus': 764,
  'card': 765,
  'cast': 766,
  'cereal': 767,
  'challenged': 768,
  'chase': 769,
  'clear': 770,
  'cliche': 771,
  'cliches': 772,
  'climactic': 773,
  'coed': 774,
  'college': 775,
  'combination': 776,
  'comes': 777,
  'commercials': 778,
  'confession': 779,
  'consciousness': 780,
  'contemporary': 781,
  'continue': 782,
  'contrived': 783,
  'convenient': 784,
  'count': 785,
  'credit': 786,
  'cues': 787,
  'damsels': 788,
  'day': 789,
  'decapitated': 790,
  'decent': 791,
  'depth': 792,
  'detailing': 793,
  'devine': 794,
  'died': 795,
  'displays': 796,
  'done': 797,
  'door': 798,
  'dreadfully': 799,
  'dressed': 800,
  'driving': 801,
  'due': 802,
  'efforts': 803,
  'embedded': 804,
  'emoting': 805,
  'englund': 806,
  'entries': 807,
  'equally': 808,
  'esque': 809,
  'extended': 810,
  'fact': 811,
  'fakeouts': 812,
  'fall': 813,
  'far': 814,
  'fatal': 815,
  'few': 816,
  'filmmakers': 817,
  'films': 818,
  'fine': 819,
  'fires': 820,
  'foil': 821,
  'folklore': 822,
  'freddy': 823,
  'frightening': 824,
  'frighteningly': 825,
  'front': 826,
  'gags': 827,
  'gayheart': 828,
  'genre': 829,
  'glorified': 830,
  'granted': 831,
  'gregson': 832,
  'grier': 833,
  'grinder': 834,
  'guard': 835,
  'had': 836,
  'hampered': 837,
  'hand': 838,
  'hardly': 839,
  'hath': 840,
  'help': 841,
  'hewitt': 842,
  'hooded': 843,
  'hook': 844,
  'horror': 845,
  'horta': 846,
  'however': 847,
  'iceberg': 848,
  'identity': 849,
  'idiocy': 850,
  'imagination': 851,
  'inept': 852,
  'influence': 853,
  'insultingly': 854,
  'intentional': 855,
  'intriguing': 856,
  'jackson': 857,
  'jamie': 858,
  'jared': 859,
  'jennifer': 860,
  'joshua': 861,
  'kevin': 862,
  'key': 863,
  'killed': 864,
  'killer': 865,
  'knowingly': 866,
  'krueger': 867,
  'lame': 868,
  'large': 869,
  'laughter': 870,
  'lazy': 871,
  'leading': 872,
  'legend': 873,
  'legends': 874,
  'lends': 875,
  'less': 876,
  'leto': 877,
  'link': 878,
  'list': 879,
  'locked': 880,
  'lore': 881,
  'loretta': 882,
  'lot': 883,
  'lurking': 884,
  'mancini': 885,
  'matters': 886,
  'meant': 887,
  'meat': 888,
  'mention': 889,
  'met': 890,
  'michelle': 891,
  'mikey': 892,
  'motive': 893,
  'mugs': 894,
  'murder': 895,
  'murders': 896,
  'music': 897,
  'must': 898,
  'mythology': 899,
  'namely': 900,
  'namesake': 901,
  'natalie': 902,
  'natasha': 903,
  'noted': 904,
  'noxzema': 905,
  'often': 906,
  'once': 907,
  'onscreen': 908,
  'opening': 909,
  'ove': 910,
  'pam': 911,
  'parka': 912,
  'passed': 913,
  'passing': 914,
  'past': 915,
  'pedigree': 916,
  'pefect': 917,
  'pendleton': 918,
  'pepsi': 919,
  'person': 920,
  'personal': 921,
  'pesence': 922,
  'piece': 923,
  'pop': 924,
  'post': 925,
  'predictable': 926,
  'premise': 927,
  'prey': 928,
  'product': 929,
  'professor': 930,
  'promise': 931,
  'promising': 932,
  'proverbial': 933,
  'range': 934,
  'rather': 935,
  'rebecca': 936,
  'recent': 937,
  'recently': 938,
  'references': 939,
  'reliant': 940,
  'rely': 941,
  'resemblance': 942,
  'resuscitated': 943,
  'revealed': 944,
  'reveals': 945,
  'revival': 946,
  'riddled': 947,
  'rises': 948,
  'robert': 949,
  'rocks': 950,
  'rolling': 951,
  'round': 952,
  'run': 953,
  'runs': 954,
  's_creek_': 955,
  'saddled': 956,
  'sans': 957,
  'says': 958,
  'scares': 959,
  'screen': 960,
  'screenwriter': 961,
  'security': 962,
  'sequence': 963,
  'set': 964,
  'setup': 965,
  'shocks': 966,
  'shoddy': 967,
  'silvio': 968,
  'singular': 969,
  'slain': 970,
  'slashers': 971,
  'social': 972,
  'spokeswoman': 973,
  'spurred': 974,
  'star': 975,
  'starlet': 976,
  'stars': 977,
  'stay': 978,
  'stiff': 979,
  'student': 980,
  'students': 981,
  'subvert': 982,
  'suspects': 983,
  'suspense': 984,
  'tale': 985,
  'talent': 986,
  'talke': 987,
  'tall': 988,
  'terms': 989,
  'thorugh': 990,
  'tip': 991,
  'touch': 992,
  'trick': 993,
  'tried': 994,
  'true': 995,
  'uncharismatic': 996,
  'urban': 997,
  'victims': 998,
  'villain': 999,
  ...})

### Building X matrix based on *Bag Of Words*:

In [12]:
import pandas as pd
import numpy as np

In [13]:
n = len(dictionary.token2id)

matrix = []
for j, doc in enumerate(corpus_list):  
    x = np.zeros(n)
    for i, nu in bow_corpus[j]:  
        x[i] = nu
    matrix.append(x)

In [14]:
matrix = pd.DataFrame(matrix)
matrix

,0,1,2,3,4,5,6,7,8,9,...,38854,38855,38856,38857,38858,38859,38860,38861,38862,38863
0,6.0,1.0,1.0,1.0,1.0,3.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2.0,0.0,0.0,0.0,0.0,2.0,0.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1996,2.0,0.0,0.0,1.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1997,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1998,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1999,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0

In [15]:
df_bow = matrix.copy()

### Building X matrix based on *TF-IDF*:

In [16]:
from gensim import models
import numpy as np


# Create the Dictionary and Corpus
mydict = corpora.Dictionary([simple_preprocess(line) for line in corpus_list])
corpus = [mydict.doc2bow(simple_preprocess(line)) for line in corpus_list]


# Create the TF-IDF model
tfidf = models.TfidfModel(corpus, smartirs='ntc')

**X matrix**

In [17]:
n = len(mydict.token2id)

matrix = []
for j, doc in enumerate(corpus_list):  # для каждого документа определяем его порядковый номер
    x = np.zeros(n)
    for i, nu in tfidf[corpus][j]:  #  для каждого слова из документа есть его номер в словаре и к-т tf-idf
        x[i] = nu
    matrix.append(x)

In [18]:
n

38864

In [19]:
matrix = pd.DataFrame(matrix)
matrix

,0,1,2,3,4,5,6,7,8,9,...,38854,38855,38856,38857,38858,38859,38860,38861,38862,38863
0,0.023527,0.0602,0.038529,0.007827,0.059444,0.008294,0.015247,0.007792,0.018826,0.032721,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.009033,0.0000,0.000000,0.000000,0.000000,0.010615,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.006488,0.0000,0.000000,0.000000,0.000000,0.004575,0.000000,0.000000,0.000000,0.027071,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.006800,0.0000,0.000000,0.000000,0.000000,0.004795,0.000000,0.027028,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.0000,0.000000,0.018197,0.000000,0.006427,0.000000,0.000000,0.021883,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,0.013670,0.0000,0.000000,0.000000,0.000000,0.004819,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1996,0.005301,0.0000,0.000000,0.005291,0.000000,0.005606,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1997,0.008368,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1998,0.004894,0.0000,0.000000,0.009769,0.000000,0.000000,0.019028,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1999,0.000000,0.0000,0.000000,0.004803,0.000000,0.001696,0.000000,0.000000,0.000000,0.000000,...,0.058147,0.058147,0.058147,0.058147,0.116295,0.058147,0.058147,0.058147,0.058147,0.058147

In [20]:
df_tfidf = matrix.copy()

preparing data for learning

In [21]:
df_bow['y'] = examples_df.sentiment

In [22]:
df_tfidf['y'] = examples_df.sentiment

In [23]:
df_bow

,0,1,2,3,4,5,6,7,8,9,...,38855,38856,38857,38858,38859,38860,38861,38862,38863,y
0,6.0,1.0,1.0,1.0,1.0,3.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,3.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2,2.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,2.0,0.0,0.0,0.0,0.0,2.0,0.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,0.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1996,2.0,0.0,0.0,1.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1997,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1998,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1999,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1

In [24]:
df_tfidf

,0,1,2,3,4,5,6,7,8,9,...,38855,38856,38857,38858,38859,38860,38861,38862,38863,y
0,0.023527,0.0602,0.038529,0.007827,0.059444,0.008294,0.015247,0.007792,0.018826,0.032721,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0
1,0.009033,0.0000,0.000000,0.000000,0.000000,0.010615,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0
2,0.006488,0.0000,0.000000,0.000000,0.000000,0.004575,0.000000,0.000000,0.000000,0.027071,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0
3,0.006800,0.0000,0.000000,0.000000,0.000000,0.004795,0.000000,0.027028,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0
4,0.000000,0.0000,0.000000,0.018197,0.000000,0.006427,0.000000,0.000000,0.021883,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,0.013670,0.0000,0.000000,0.000000,0.000000,0.004819,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1
1996,0.005301,0.0000,0.000000,0.005291,0.000000,0.005606,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1
1997,0.008368,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1
1998,0.004894,0.0000,0.000000,0.009769,0.000000,0.000000,0.019028,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1
1999,0.000000,0.0000,0.000000,0.004803,0.000000,0.001696,0.000000,0.000000,0.000000,0.000000,...,0.058147,0.058147,0.058147,0.116295,0.058147,0.058147,0.058147,0.058147,0.058147,1

### Logistic Regression

In [25]:
# for Bag Of Words
X = df_bow.drop(['y'], axis = 1)
y = df_bow['y']

In [26]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=20)

In [28]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(
    solver = 'liblinear',
    penalty = 'l2',
    multi_class = 'ovr'
    )

In [29]:
model.fit(X,y)

LogisticRegression(multi_class='ovr', solver='liblinear')

In [30]:
preds = model.predict(X)
#pd.DataFrame(preds)

In [31]:
from sklearn import metrics
conf_matrix = metrics.confusion_matrix(y, preds)
pd.DataFrame(conf_matrix)

     0    1
0  998    2
1    1  999

In [32]:
accuracy = sum(preds == y) / len(y)
accuracy

0.9985

In [33]:
# for tfidf
X = df_tfidf.drop(['y'], axis = 1)
y = df_tfidf['y']

In [34]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=20)

In [36]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(
    solver = 'liblinear',
    penalty = 'l2',
    multi_class = 'ovr'
    )

In [37]:
model.fit(X,y)

LogisticRegression(multi_class='ovr', solver='liblinear')

In [38]:
preds = model.predict(X)
#pd.DataFrame(preds)

In [41]:
from sklearn import metrics
conf_matrix = metrics.confusion_matrix(y, preds)
pd.DataFrame(conf_matrix)

     0    1
0  966   34
1   17  983

In [40]:
accuracy = sum(preds == y) / len(y)
accuracy

0.9745